.color-gradient{
    background: linear-gradient(180deg, #3f87a6, #ccd2d4);
    animation: coloranimation 10s infinite ease-in-out 0.15s;
    animation-direction: alternate;
}

@keyframes coloranimation {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(359deg);
    }
}
  