.color-gradient{
    background: linear-gradient(180deg, #3f87a6, #ccd2d4);
    animation: coloranimation 10s infinite ease-in-out 0.15s;
    animation-direction: alternate;
}

// @keyframes coloranimation {
//     0% {
//         background: linear-gradient(180deg, #2c2c2c, #000000);
//     }
//     100% {
//         background: linear-gradient(180deg, #52395d, #521560);;
//     }
// }
  

@keyframes coloranimation {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(359deg);
    }
}
  