<div class="mt-4 w-full justify-start">
  <div
    class="me-auto p-2 bg-gray-600 rounded-lg w-min whitespace-nowrap flex flex-row justify-between content-center gap-2 max-w-full"
    [style]="'background-color: ' + colorSecondary"
  >
    <img
      *ngIf="attributeIcon"
      class="square"
      [src]="'../../assets/' + attributeIcon"
      style="width: 34px"
    />
    <p
      class="my-auto break-words font-bold"
      [style]="
        'font-size: calc' +
        nameTextSize +
        'px; padding-right: ' +
        (attributeIcon ? 34+4 : 4) +
        'px; transform: translateY(1px)'
      "
    >
      {{ attributeName }}
    </p>
  </div>
  <div
    *ngIf="attributeType === 'Text'"
    class="mt-1 py-1 px-3 bg-gray-500 flex justify-start rounded-lg break-words"
    [style]="'background-color: ' + colorPrimary + '; font-size: 17px'"
  >
    {{ attributeValue }}
  </div>
  <div
    *ngIf="attributeType === 'Color'"
    class="mt-1 py-1 px-3 bg-gray-500 flex justify-start rounded-lg break-words"
    [style]="'background-color: ' + colorPrimary + '; font-size: 17px'"
  >
    {{ attributeValue }}
  </div>
</div>
