<ion-content>
  <app-background></app-background>
  <div
    class="flex flex-col p-2 w-full min-h-full md:w-medium-size-page mx-auto"
  >
    <div class="mt-8"></div>
    <div class="mt-2 mb-2 text-3xl flex justify-center font-bold z-10">
      4AHITN Schüler
    </div>
    <ion-list class="bg-transparent" style="padding-left: 12px; padding-right: 12px">
      <app-profile-card-item
        *ngFor="let student of students; let i = index"
        [profile]="student"
      ></app-profile-card-item>
    </ion-list>
    <!-- <div class="mt-2 mb-2 text-3xl flex justify-center font-bold">
      4AHITN Lehrer
    </div> -->
    <div class="mt-16"></div>
  </div>
</ion-content>
