<ion-content>
  <div
    id="background"
    class="w-full h-full fixed"
    style="z-index: -1; opacity: 0.8"
  >
    <img
      src="../../assets/purple_magenta_background.jpg"
      class="w-full h-full movement-animation"
    />
  </div>
  <div
    class="flex flex-col p-2 w-full min-h-full md:w-medium-size-page mx-auto justify-center items-center"
    style="text-shadow: 1px 1px #ffffff40; transform: scale(1.25)"
  >
    <div class="mt-4"></div>
    <div class="mt-2 text-xl font-bold">Project Team</div>
    <div>Michael Samarati</div>
    <div>Philipp Vollmann</div>
    <div>Taisir Khalifa</div>
    <div>Hatidza Begagic</div>
    <div class="mt-8 text-xl font-bold">Important Link</div>
    <div>
      Make sure to check this
      <a class="underline" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">link</a> out!
    </div>
    <div class="mt-32"></div>
  </div>
</ion-content>
