// .list-item-shadow {
//   box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.3);
// }

@keyframes appearanimation {
  0% {
    opacity: 0;
    transform: scale(0.78) rotate(3deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.profileCardItemComponentAppearAnimation {
  animation: appearanimation 1.1s 1 ease 0.1s;
}
