<ion-item
  [routerLink]="['./profile/' + profile?.personid]"
  class="w-full rounded-full relative flex justify-center items-center profileCardItemComponent profileCardItemComponentAppearAnimation opacity-0"
  [style]="
    '--padding-start: 0; --inner-padding-end: 0px; height: 78px; overflow: visible; border: none; --ion-item-background: transparent; margin-top: 24px; margin-bottom: 24px;'
  "
>
  <div
    class="square rounded-full flex justify-center items-center list-item-shadow absolute z-10"
    style="height: 86px; width: auto"
  >
    <ring
      [padding]="9"
      [image]="profile?.image"
      [favouriteSubject]="profile?.favouriteSubject"
      [favouriteColor]="profile?.favouriteColor"
      [phone]="profile?.phone"
      [burgerPizzaAvocado]="profile?.burgerPizzaAvocado"
    ></ring>
  </div>
  <div
    class="rounded-2xl flex items-center"
    [style]="
      'margin-left: calc(43px + 10px); padding-left: 39px; height: 55px; width: 100%; font-size: 15px; background: ' +
      colorVariable +
      '; ' +
      'box-shadow: 0px 0px 20px 0px ' +
      colorVariable
    "
  >
    <div class="text-xl">{{ profile?.forename }} {{ profile?.lastname }}</div>
  </div>
</ion-item>
