<ion-content>
  <div
    id="background"
    class="w-full h-full fixed"
    style="z-index: -1; opacity: 0.9; transform: scale(1.3) translateY(-200px)"
  >
    <img [src]="'../../assets/'+imageName" class="w-full h-full" /><img
      [src]="'../../assets/'+imageName"
      class="w-full h-full"
      style="transform: rotate(180deg) scaleX(-1)"
    />
  </div>
  <div
    class="flex flex-col p-2 w-full min-h-full md:w-medium-size-page mx-auto"
  >
    <div class="mt-8"></div>
    <app-profileheader [profile]="profile"></app-profileheader>
    <div class="mt-8 mb-2 text-2xl flex justify-center font-bold">
      Comments
    </div>
    <ion-input
      [(ngModel)]="name"
      label="Pseudonym"
      labelPlacement="floating"
      type="text"
      required="true"
      maxlength="40"
      placeholder="Pseudonym"
      class="w-full m-0 rounded-lg p-0"
      [style]="'--padding-start: 10px; --padding-end: 10px; background-color: '+colorVariable"
    ></ion-input>
    <ion-textarea
      [(ngModel)]="message"
      label="Nachricht"
      labelPlacement="floating"
      type="text"
      required="true"
      maxlength="500"
      placeholder="Nachricht"
      [autoGrow]="true"
      rows="5"
      class="w-full m-0 mt-2 bg-gray-800 rounded-lg min-h-[50%]"
      [style]="'--padding-start: 10px; --padding-end: 10px; background-color: '+colorVariable"
    ></ion-textarea>
    <ion-button
      class="mx-auto mt-3 font-bold text-slate-200	"
      color="light"
      (click)="submitComment()"
    >
      Bestätigen
    </ion-button>
    <div style="min-height: 100px; width: 100%; clear: both"></div>
    <div class="mt-16"></div>
  </div>
</ion-content>
