<ion-content>
  <app-moving-background [color]="colorVariable"></app-moving-background>
  <div
    class="flex flex-col p-2 w-full min-h-full md:w-medium-size-page mx-auto"
  >
    <div class="mt-8"></div>
    <app-profileheader [profile]="profile"></app-profileheader>
    <div class="mt-4 w-full">
      <app-attribute
        *ngIf="profile?.age"
        [attributeIcons]="['age.png']"
        [attributeName]="'Age'"
        [attributeValue]="profile?.age+' Jahre'"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.email"
        [attributeIcons]="['email.png']"
        [attributeName]="'Email'"
        [attributeValue]="profile?.email"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.visionScore"
        [attributeIcons]="['blindtest.png']"
        [attributeName]="'Blindness Test Score'"
        [attributeValue]="profile?.visionScore"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.eyeColor"
        [attributeIcons]="['eye.png']"
        [attributeName]="'Eye Color'"
        [attributeValue]="profile?.eyeColor"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.piercingTattoos"
        [attributeIcons]="['piercing.png', 'tattoo.png']"
        [attributeName]="''"
        [attributeValue]="profile?.piercingTattoos"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.favouriteSong"
        [attributeIcons]="['music.png']"
        [attributeName]="'Favourite Song'"
        [attributeValue]="profile?.favouriteSong"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.chickenCrossReason"
        [attributeIcons]="['chicken.png']"
        [attributeName]="'Why did the chicken cross the road?'"
        [attributeValue]="profile?.chickenCrossReason"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.quote"
        [attributeIcons]="['quote.png']"
        [attributeName]="'Quote'"
        [attributeValue]="profile?.quote"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.hobbies"
        [attributeIcons]="['hobbies.png']"
        [attributeName]="'Hobbys'"
        [attributeValue]="profile?.hobbies"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.pets"
        [attributeIcons]="['pet.png']"
        [attributeName]="'Pets'"
        [attributeValue]="profile?.pets"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.allergies"
        [attributeIcons]="['allergy.png']"
        [attributeName]="'Allergies'"
        [attributeValue]="profile?.allergies"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.schoolBeforeHTL"
        [attributeIcons]="['school.png']"
        [attributeName]="'School Before HTL'"
        [attributeValue]="profile?.schoolBeforeHTL"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.burgerPizzaAvocado"
        [attributeIcons]="['burger.png', 'pizza.png', 'avocado.png']"
        [attributeName]="''"
        [attributeValue]="profile?.burgerPizzaAvocado"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.favouriteSubject"
        [attributeIcons]="['subject.png']"
        [attributeName]="'Favourite Subject'"
        [attributeValue]="profile?.favouriteSubject"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.favouriteColor"
        [attributeIcons]="['color.png']"
        [attributeName]="'Favourite Color'"
        [attributeValue]="profile?.favouriteColor"
        [attributeType]="'Color'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.phone"
        [attributeIcons]="['phone.png']"
        [attributeName]="'Smartphone'"
        [attributeValue]="profile?.phone"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.favouriteFood"
        [attributeIcons]="['food.png']"
        [attributeName]="'Favourite Food'"
        [attributeValue]="profile?.favouriteFood"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.favouriteMedia"
        [attributeIcons]="['media.png']"
        [attributeName]="'Favourite Movie/Series'"
        [attributeValue]="profile?.favouriteMedia"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.specialClassFunction"
        [attributeIcons]="['special_class_function.png']"
        [attributeName]="'Special Class Function'"
        [attributeValue]="profile?.specialClassFunction"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
      <app-attribute
        *ngIf="profile?.socialmedia"
        [attributeIcons]="['socialmedia.png']"
        [attributeName]="'Social-Media'"
        [attributeValue]="profile?.socialmedia"
        [attributeType]="'Text'"
        [colorPrimary]="colorVariable"
        [colorSecondary]="colorVariableDark"
      ></app-attribute>
    </div>
    <div style="min-height: 50px; width: 100%; clear: both"></div>
    <div class="mt-4 w-full justify-start">
      <app-comments [comments]="comments"></app-comments>
    </div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="fixed">
      <ion-fab-button
        color="light"
        [routerLink]="['./comment']"
        [state]="{profile: profile}"
      >
        <ion-icon name="chatbox-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div style="min-height: 100px; width: 100%; clear: both"></div>
  </div>
</ion-content>
