<div
  id="ring"
  class="profile-ring-rotation-animation h-[100%] square rounded-full flex justify-center items-center"
  [style.background]="
    'conic-gradient(' +
    favouriteSubjectColor +
    ', ' +
    favouriteColorColor +
    ', ' +
    burgerPizzaAvocadoColor +
    ', ' +
    phoneColor +
    ', ' +
    favouriteSubjectColor +
    ')'
  "
>
  <img
    id="profile-image"
    class="counter-profile-ring-rotation-animation h-[100%] square rounded-full"
    [style]="'padding: ' + padding + 'px'"
    [src]="
      'data:image/jpg;base64, ' + image ||
      '../../assets/default_profile_picture.jpg'
    "
  />
</div>
